@charset "utf-8"
/*html reset*/
/*All*/
.phone{

}
.colorBlue{
    color: blue; 
}
.colorred{
    color: red;   
}
body{
    margin: 0;
}
main>article>div{
    position: relative;
    display: inline-block;
    border: 1px solid #000;
    
    width: 324px;
    height: 486px;
    
    top: 38px;
    overflow: scroll;
}
.phoneHead>img{
    position: absolute;
    top: 2px;
    right: 0;
    width: 32px;
    height: 32px;
}
.phoneHead{
    position: fixed;
    z-index: 2;
    background: yellow;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: 1px solid #000;
    
    box-sizing: border-box;
    
    padding: 10px;
    left: 0;
    height: 38px;
    width: 326px;
    vertical-align: middle;
}
.phoneHead>button{
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    border: 0;
    background: yellow;
}
/*
.phoneHead>button>img{
    width: 30px;
    height: 30px;
}
*/
img{
    width: 50%;
    height: auto;
}
/*******************cafe2****************/
img{
    width: 20px;
    height: 20px;
}
main>article>div>form{
    box-sizing: border-box;
    padding: 10px;
    font-size: 10px;   
}
.title{
    font-weight: bold;
    font-size: 13px;
}
/****************************************/
/*******************cafe4****************/
.cafeList{
    padding: 5px;
    overflow: scroll;
}
.cafeList>button{
    width: 314px;
    height: 20px;
    margin: 5px 0;
}
.cafeList>div{
    border: 1px solid #000;
    border-radius: 5px;
    padding: 3px;
    margin: 5px 0;
}
.imgSide{
    display: inline-block;
    height: 115px;
}
.imgSide>span>img{
    width: auto;
    height: 17px;
}
.backgroundColor{
    background: pink;   
}
/*****************************************/
/*******************cafe1****************/
.loginBox{
    margin: 5px 17px; 
    width: 280px; 
    height: auto;
    font-size: 20px;
}
.loginbtn{
    float: right;
    margin-right: 17px;
    margin-top: 5px;
    
    width: 70px;
    height: 40px;
    
    font-size: 18px;
    background: gray;
}
/****************************************/
.shareBox{
    position: absolute;
    top: 123px;
    left: 10px;
    
    width: 322px;
    height: 406px;
    background: #000;
    opacity: 0.5;
}
.shareimg{
    position: absolute;
    top: 123px;
    left: 10px;
    margin: 46px 70px;
}
.shareBtn{
    background: pink;
}
/*****************************************/
.cafePic>img{
    width: 100%; 
    border-radius: 5px;
    margin: 5px 0;
}
.ownerTalk{
    font-size: 12px;   
}
.talkBox{
    border: 1px solid #333;
    border-radius: 5px;
    padding: 5px;
}
.cafeImpo td{
    width: 36%;
}
/*****************************************/

.phoneBottom{
    position: fixed;
    z-index: 2;
    background: yellow;
    
    height: 40px;
    width: 324px;
    
    top: 585px;
    left: 0;
    
    border: 1px solid #000;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.phoneBottom button{
    position: relative;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 3px 0;
    width: 100px;
    height: 32px;
}
.login{
    position: absolute;
    bottom: 9px;
    right:0;
}
.size{
    height: 100px;
}

